*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  width:100%;
  height:100%;
  overflow:hidden;
  touch-action:none;
}

body{
  overflow:hidden;
  background:black;
  font-family:'Segoe UI',sans-serif;
}

canvas{
  position:absolute;
  inset:0;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
  pointer-events:none;
}

.title{
  position:absolute;
  top:35px;
  font-size:5rem;
  font-weight:900;
  color:#ff2d75;
  text-shadow:
    0 0 10px #ff2d75,
    0 0 20px #ff2d75,
    0 0 40px #ff2d75,
    0 0 80px #ff2d75;
  animation:pulse 2s infinite;
}

.message{
  margin-bottom:40px;
  width:80%;
  max-width:1000px;
  text-align:center;
  color:white;
  line-height:1.8;
  font-size:1.2rem;
  padding:25px;
  border-radius:25px;
  background:rgba(0,0,0,0.55);
  border:1px solid rgba(255,255,255,0.08);
  box-shadow:0 0 20px rgba(255,0,80,0.25);
}

#musicBtn{
  position:absolute;
  z-index:10;
  top:20px;
  left:20px;
  background:#ff2d75;
  color:white;
  border:none;
  padding:14px 22px;
  border-radius:14px;
  cursor:pointer;
  font-size:1rem;
  font-weight:bold;
  transition:0.3s;
  box-shadow:0 0 15px rgba(255,45,117,0.5);
}

#musicBtn:hover{
  transform:scale(1.05);
  box-shadow:0 0 25px rgba(255,45,117,0.8);
}

@media(max-width:768px){

  .title{
    font-size:2.4rem;
    text-align:center;
    top:20px;
  }

  .message{
    width:92%;
    font-size:1rem;
    padding:18px;
    margin-bottom:20px;
  }

  #musicBtn{
    transform:scale(0.9);
    top:12px;
    left:12px;
  }

}

@keyframes pulse{
  0%{ transform:scale(1); }
  50%{ transform:scale(1.05); }
  100%{ transform:scale(1); }
}
